[submodule "godot-cpp"]
	path = godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
[submodule "recastnavigation"]
	path = recastnavigation
	url = git@github.com:recastnavigation/recastnavigation.git
